.form {
  .dateBlock{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nameLabel{
    margin: 1rem 0;
  }

  .table{
    margin: 2rem 0;
  }

  input {
    &:disabled {
      -webkit-text-fill-color: #000000;
    }
  }
  .button{
    display: flex;
    margin-left: auto;
  }
}