.form {
  input {
    &:disabled {
      -webkit-text-fill-color: #000000;
    }

  }

  .buttonsWrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .closeButton {
    margin-left: auto;
  }
}