  .table{
    margin: 2rem 0;
  }

  .error{
    position: absolute;
    width: 15%;
    color: #d32f2f;
    font-size: .75rem;
  }

  input {
    &:disabled {
      -webkit-text-fill-color: #000000;
    }
  }

